.app{
  text-align:center;
  width:100%;
}
header{
  display:flex;
  justify-content:space-between;
  padding:0 1rem;
}
.controls{
  margin:1rem;
}
button{
  margin:0 0.5rem;
  padding:0.5rem 1rem;
  font-size:1rem;
}